.container {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--darkest-navy);
	width: 100%;
	z-index: 2;
}

.container ul {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
}

.container li {
	display: inline-block;
	font-size: 20px;
	font-weight: 300;
	padding: 0.7rem;
	cursor: pointer;
	color: var(--lightest-navy);
}

.container li:hover {
	color: var(--light-navy);
}
